@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron"
     style= "border: 3px solid #7e8aad;
            padding: 20px;
            background-color: #82bace75;
            border-radius: 5px;">
    <h2 class="display-4">Welcome to ForecastFavor Web Application.</h2>
    <p>The application that provides accurate weather forecast for any given location across the globe.</p>
    <p>The application also notifies the users according to the weather conditions.</p>
    <p>The application incorporates the enriched user accessibility functionality of speech to text feature.</p>
    <p>This app pinpoints the exact location in the google maps that is incorporated in the app for the location provided by the user.</p>

</div>
